<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>toggle component</h2>
      {{cyclops-toggle value=model.isEnabled}}
      Is enabled? {{model.isEnabled}}
    </div>
  </div>
</div>
