<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Cyclops for Ember</h1>
      <p class="lead">cyclops.core wrapped with Ember goodness</p>
    </div>
  </div>
</div>

<div class="primary">
  {{outlet}}
</div>
